*{
    
    margin:0%;
    padding: 0%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: white;
    
}   
#main{
    height: 100%;
    width: 100%;

}
#header{
    height: 6vh;
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content:center;
}

.option{
    height: 100%;
    margin: 8px;
    padding: 10px;
    color: rgb(182, 178, 178);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:21px;
}
.option:hover{
   color:white;
   background-color:rgb(42, 41, 41);
}

.icon{
    height: 100%;
    padding: 10px;
    margin: 10px;
    color: rgb(182, 178, 178);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:x-large;
}
.icon:hover{
    margin: 10px;
    color: white;
    background-color: rgb(66, 64, 64);
}
#diff{
    color: white;
    margin-right: 35px;
    font-size:21px;
    font-weight:500px;
}
#search{
    margin-left: 18px;
}

#page1{
    display: flex;
}
#box1{
    height: 94vh;
    width: 45vw;
    background-color:black;
    color: white;
}
#welcome{
    font-size:255%;                                 
    font-weight: 30px;
    margin: 40px;
    margin-bottom: 20px;
}
#signin{
    height: 48px;
    width: 39%;
    margin: 40px;
    background-color: rgba(75, 149, 222, 0.778);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}
#para{
    color: white;
    font-size: 140%;
    margin-left: 40px;
}
#empty{
    height: 250px ;
}
#movie{
    font-size: 270%;
    font-weight: 25px;
    margin-left: 40px;
}
#last{
    margin-left: 40px;
    margin-top: 30px;
    font-size: 138%;
}

#box2{
    height: 94vh;
    width: 55vw;
    background-color: black;
    
}
img{
   height:100%;
   width: 100%;
   object-fit: cover;
}
#page2{
    height: 40vh;
    width: 100vw;
    background-color: black;
    display: flex;
}
#box3{
    height: 100%;
    width: 43vw;
    background-color: black;
}
#rent{
    height: 48px;
    width: 39%;
    margin-left: 40px;
    background-color: rgba(75, 149, 222, 0.778);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    color: white;
}
#box4{
    height: 100%;
    width: 57vw;
    background-color:black;
}
#image1{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page3{
    height: 95vh;
    width: 100vw;
    background-color: white;
    display: flex;
}
#box5{
    height: 100%;
    width: 47vw;
    background-color:white;

}
#heading{
    font-size:300%;                                 
    font-weight: 50px;
    margin-top: 30px;
    margin-left: 70px;
    margin-right: 60px;
}
#small{
    font-size: 165%;
    font-weight: 40px;
    margin: 20px 70px;
    margin-right: 50px;
    
}
#box6{
    height: 100%;
    width: 53vw;
    background-color:white;
    
}
.four{
    height: 165px;
    background-color: white;
    display: flex;
    margin-top: 3px;

}
.container{
    height: 162px;
    width: 230px;
    background-color: white;
    margin-left: 6px;
}
.container:hover{
    box-shadow: 0px 0px 9px black,0px 0px 9px rgb(22, 22, 22), 0px 0px 9px rgb(27, 26, 26);
}
#line1{
    margin-top: 12px;
}

#page4{
    height: 18vh;
    width: 100vw;
    background-color: rgba(19, 16, 16, 0.926);
    
}
#logo{
    height: 40%;
    display: flex;
    justify-content: center;

}
#info{
    height: 30%;
    display: flex;
    justify-content: center;
}
.info{

    color: rgba(57, 166, 221, 0.99);
    margin: 5px 13px;
    font-size: 110%;
}
.info:hover{
    color: rgba(91, 200, 255, 0.993);
}
#about{
    color: grey;
    display: flex;
    justify-content: center;
}